<!-- <div class="dm-serif-display-regular">
  <app-header></app-header>

  <main class="min-h-screen px-4 md:px-10 py-6">
    <router-outlet></router-outlet>
  </main>

  <div class="relative mt-20">
    <app-footer></app-footer>
  </div>
</div> -->

<div class="flex flex-col min-h-screen font-serif">
  <app-header></app-header>

  <!-- Main content grows to fill available space -->
  <main class="flex-grow px-4 md:px-10 py-6">
    <router-outlet></router-outlet>
  </main>

  <!-- Footer sticks to bottom when content is short -->
  <app-footer class="w-full"></app-footer>
</div>
