<footer
  class="footer footer-horizontal footer-center gap-3 bg-base-200 text-base-content rounded p-10 mt-auto"
>
  <nav>
    <div
      class="grid grid-flow-col gap-2 text-gray-700 text-lg font-bold abril-fatface-regular"
    >
      Shopaholic
    </div>
  </nav>
  <!-- <nav class="grid grid-flow-col gap-4">
    <a class="link link-hover">About us</a>
  </nav> -->
  <aside>
    <p class="text-gray-500 font-bold">
      Copyright © {{ date }} - All right reserved by Shopaholic
    </p>
  </aside>
</footer>
